@media (max-width: 430px)
{
    body{
        font-size: 10px;
    }
    .imgGoogle{
        height: 60px;
    }
    .botones{
        font-size: 10px;
        margin: 15px 5px;
        padding: 5px 13px;
    }
}